# Compiled Object files and Libraries
*.o
*.a
*.so
*.dylib
*.dSYM

# Built HamClock Executables
/hamclock
/hamclock-800x480
/hamclock-1600x960
/hamclock-2400x1440
/hamclock-3200x1920
/hamclock-web-800x480
/hamclock-web-1600x960
/hamclock-fb0-*
zpipe
dist/
*.deb
*.rpm
*.AppImage

# IDE and Editor artifacts
.vscode/
.idea/
*.swp
*~

# Temporary test logs
tests/*.log
